* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #17181a; 
    background: linear-gradient(145deg, #4a4a5f, #3e3e50);
}

/* PROFILE CARD */
.profile-div {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    width: 330px;
    height: 800px;
    padding: 25px 15px 25px 15px;
    border-radius: 40px;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow:  32px 32px 64px #2d2d3a,
                -32px -32px 64px #5d5d78;     
    align-items: center;
    justify-content: center;    
}

.session-box {
    height: 800px;
    padding: 15px 15px 25px 15px;
}
/* TO-DO: Alterar o nome da classe 
essa calsse serve para configurar um 
paragrafo default dentro de inner shadow */

.profile-div-elements-margin0 {
    margin: 0;
    text-align: left;
    padding: 10px;
    font-size: small;
    letter-spacing: 1px;
}


/* PROFILE PICTURE */
.profile-picture {
    background: url(Assets/profile-picture.png);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px 0px 20px 0px;
    background-size: cover;
    /* picture shadown */
    box-shadow: 
    0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}


/* PROFILE NAME */
.profile-name-div {
    margin: 10px 0px 10px 0px;
}
.profile-name-label {
    margin: 0px;
    text-align: center;
    letter-spacing: 1px;
}
.profile-subtitle-label {
    text-align: center;
    font-weight: 200;
    margin: 5px 0px 10px 0px;
    letter-spacing: 1px;
}


/* INNER SHADOW PROFILE CARD */
.inner-shadow-profile-card {
    box-shadow: inset 4px 4px 4px 2px #cbced1;
    border-radius: 40px;
    padding: 20px;
    margin: 0px 0px 30px 0px;
}
/* ABOUT ME */
.about-me-div {
    margin: 20px 0px 20px 0px;
}
.about-me-title-profile-card {
    margin: 0px 0px 5px 0px;
    letter-spacing: 1px;
}
/* TOOLS */
.tools-div {
    margin: 20px 0px 20px 0px;
    
}
.tools-title-profile-card {
    margin: 0px 0px 5px 0px;
    letter-spacing: 1px;

}


/* ICON BOX */
.icons-display {
    display: flex;
    padding: 10px;
    margin: 5px 0px 0px 0px 0px;
}
/* swift icon */
.swift-icon {
    background: url(Assets/ToolsIcons/SWIFt.png);
    width: 30px;
    height: 30px;
    margin: auto;
    background-size: cover;
}
/* html icon */
.html-icon {
    background: url(Assets/ToolsIcons/HTML.png);
    width: 30px;
    height: 30px;
    margin: auto;
    background-size: cover;
}
/* css icon */
.css-icon {
    background: url(Assets/ToolsIcons/CSS.png);
    width: 30px;
    height: 30px;
    margin: auto;
    background-size: cover;
}
/* java icon */
.java-icon {
    background: url(Assets/ToolsIcons/JAVA.png);
    width: 30px;
    height: 30px;
    margin: auto;
    background-size: cover;
}





.content-box {
    margin: 0px 0px 0px 0px;
    height:610px;
    width: 1100px;
    border-radius: 40px;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow:  32px 32px 64px #2d2d3a,
                -32px -32px 64px #5d5d78;  
    padding: 10px;
}

.content-menu {
    justify-content: center;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.content-menu-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 10px 15px;
    height: 25px;
    width: 200px;
    border-radius: 40px;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding: 20px 25px 20px 25px;
}




/* invisible box (card container */
.skill-box {
    display: none;
    justify-content: center;
    margin: 20px 10px 10px 10px;
}
/* default skill card */
.skill-card {
    margin: 10px 15px 10px 15px;
    height: 450px;
    width: 300px;
    border-radius: 40px;
    background: linear-gradient(145deg, #4a4a5f, #3e3e50);
    color: #ffffff;
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding: 20px 25px 20px 25px;
}

.skill-card-content {
    height: 320px;
}

.skill-tag {
display: flex;
justify-content: center;

}
.skills-label {
    margin: 5px;
}
.skill-card-label {
    margin: 0px 0px 0px 10px;
}
.topic-detail {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
    font-size:smaller;
    font-style: italic;
    line-height: 150%;
}

.certificate-buttom {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 10px 50px 10px 50px;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    color: #17181a;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow:  12px 12px 25px #2d2d3a,
                -12px -12px 25px #5d5d78; 
}
.mobile-icon {
    margin: 0px;
    background: url(Assets/SkillsIcons/MOBILE.png);
    width: 15px;
    height: 15px;
    background-size: cover;
}
.front-end-icon {
    margin: 0px;
    background: url(Assets/SkillsIcons/FRONTEND.png);
    width: 15px;
    height: 15px;
    background-size: cover;
}
.programacao-icon {
    margin: 0px;
    background: url(Assets/SkillsIcons/PROGRAMACAO.png);
    width: 15px;
    height: 15px;
    background-size: cover;
}




/* invisible box (card container */
.exp-box {
    display: none;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
}

.company-menu {
    margin: 20px 20px 20px 0px;
}
.ap-company-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 15px 10px 0px;
    height: 50px;
    width: 200px;
    border-radius: 40px;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding: 20px 25px 20px 25px;
}
.ap-company-icon {
    margin: 0px 10px;
    background: url(Assets/Companys/AP.jpeg);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.job-description {
    height: 450px;
    width: 700;
    border-radius: 40px;
    background: linear-gradient(145deg, #4a4a5f, #3e3e50);
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding: 20px 25px 20px 25px;
    font-size: 10px;
    font-weight: 50;
    line-height: 140%;
    letter-spacing: 2px;
    color: #d0d0d6;
}


.about-me-content-box {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 10px 10px;
}

.about-me-content-picture {
    background: url(Assets/profile-picture.png);
    width: 300px;
    height: 450px;
    border-radius: 40px;
    margin: 0px 0px 20px 20px;
    background-size: cover;
    align-items: center;
    /* picture shadown */
    box-shadow: 
    0px 0px 2px #5f5f5f,
    0px 0px 0px 5px #ecf0f3,
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}

.about-me-description {
    height: 450px;
    width: 700;
    border-radius: 40px;
    background: linear-gradient(145deg, #4a4a5f, #3e3e50);
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
    padding: 20px 25px 20px 25px;
    font-size: 10px;
    font-weight: 50;
    line-height: 140%;
    letter-spacing: 2px;
    color: #d0d0d6;
}

/* FOOTER BOX */
.footer-box{
    display: flex;
    margin: 50px 0px 0px 0px;
    height: 120px;
    width: 1100px;
    border-radius: 40px;
    background: linear-gradient(145deg, #f7f7ff, #d0d0d6);
    box-shadow:  32px 32px 64px #2d2d3a,
                -32px -32px 64px #5d5d78;  
    padding: 10px;
}
.anchor-setup {
    color: #ecf0f3;
}
.github-card {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 30px 10px 10px;
    height: 50px;
    width: 175px;
    border-radius: 40px;
    background: linear-gradient(145deg, #222224, #1d1d1f);
    color: #ffffff;
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}
.github-icon {
    margin: 0px 10px;
    background: url(Assets/FooterIcons/GITHUB.png);
    width: 25px;
    height: 25px;
    background-size: cover;
}
.linkedin-card {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 30px 10px 10px;
    height: 50px;
    width: 175px;
    border-radius: 40px;
    background: linear-gradient(145deg, #4b4bec, #3f3fc7);
    color: #ffffff;
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}
.linkedin-icon {
    margin: 0px 10px;
    background: url(Assets/FooterIcons/LINKEDIN.png);
    width: 25px;
    height: 25px;
    background-size: cover;
}
.whatsapp-card {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 30px 10px 10px;
    height: 50px;
    width: 175px;
    border-radius: 40px;
    background: linear-gradient(145deg, #55e77a, #47c267);
    color: #ffffff;
    box-shadow: 
    8px 8px 15px #a7aaaf,
    -8px -8px 15px #ffffff;
}
.whatsapp-icon {
    margin: 0px 10px;
    background: url(Assets/FooterIcons/WHATSAPP.png);
    width: 25px;
    height: 25px;
    background-size: cover;
}
